.pg{
/*    background: green;
/*	height: 100%;
	display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-box-align:stretch;*/
}
.pgContent{
    height: 100%;
    min-height: 600px;
/*	display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-box-align:stretch;
    -webkit-box-flex:1;*/
}
.popup {
    display: block;
    opacity: 0.80;
}

.tInput {
    min-height: 300px;
    min-width: 200px;
    /*height: 300px;
    width: 200px;*/
}
#frontTALink.notext, #backTALink.notext{
    color: lightgray;
}

/*set page*/
li.card .front{
    color: red
}
li.card .overlay{
    display: none;
}
li.card.archived .overlay {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 0.70;
    left: 4px;
    top: 12px;
    color: gray;
    font-size: 22px;
}

/*study page*/
#studyStats, #studyStatsFront {
    margin-bottom: 10px;
}
#studyStatsMsg{
    font-size: 14px;
}

#studyStatsMsg .stat{
   color: red;
}

.cardPanel {
    padding: 2px;
    height: 320px;
    display: -webkit-box;
    -webkit-box-flex:1;
    -webkit-box-orient: vertical;
    -webkit-box-align:stretch;

    /*border: 1px black solid;
    background: yellow;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);*/
}

.back {
    display: none
}
.cardPanel.front .card_face{
    /*height: 48%*/
    height: 100%;
}
.cardPanel #back.card_face {
    /*height: 52%;*/
    background: #fff9d7;
}
.cardPanel .card_face {
    background: white;
    height: 220px;
    border: 1px black solid;
    padding: 4px;
    //font-size: 18px;
    text-align: center;
    font-size: 26px;
    display: table;
    width: 100%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

    /*display: -webkit-box;
    -webkit-box-flex:1;
    -webkit-box-orient: vertical;
    -webkit-box-align:stretch;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;*/
}
.textPanel{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /*text-shadow: 2px 2px 2px #bbbbbb;*/
}
.backText{
  color: red;
}
/*
#cardPanel #back {
    margin-bottom: 4px;
    display: none;}
*/
#studyButtons{
    /*display: none;*/
}
////////////////////////////**********/

.headerTitle {
  color: white;
  font-weight: bold; }

h4.mobile {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold; }

ul.sets {
  data-dividertheme: "b";
  data-inset: true;
  data-role: "listview";
  data-theme: "c";
  data-filter: true; }

.status {
  border-color: #e2c822;
  background: #fff9d7; }

.error {
  border: solid 1px #dd3c10;
  background: #ffebe8; }
/*
#card {
  float: left;
  width: 100%;
  margin: 5px;
  color: red;
}*/

#msgPanel {
  margin: 15px 0 10px 0;
  border: 1px #dd3c10 solid;
  background: #fff9d7;
  padding: 4px;
  display: none; }

#filterChoices {
  margin: 15px 0 10px 0;
  border: 1px black dotted;
  padding: 4px;
  display: none; }

/*
.container{
    display: -webkit-box;
    -webkit-box-flex:1;
    -webkit-box-orient: vertical;
    -webkit-box-align:stretch;
    border: 1px solid #555;
    background: yellow;
}
*/



.caption {
  font-size: 22px;
  font-weight: bold;
  color: red;
  text-align: center; }
  .caption #bottom {
    color: purple; }

#cardsShowing {
    text-align: center;
}
#cardsShowing a{
    text-decoration: none;
}

#editCardLink, #rightButtonTemplate {
  display: none; }


textarea.fullPage {
    width:98%;
    min-height: 150px;
}

li.set {
    font-size: 18px;
}

.editList {
/*    display: none*/
}

.editing {
    display: none
}

.aDeleteBtn {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	height: 10px;
	line-height: 11px;
	margin: 7px 10px 0 0;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}


/* red color buttons */
.ui-btn-up-r {
    border: 1px solid #953403;
    background: #2567ab;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 -1px 1px #953403;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #ec4a0b, #ad390c);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ec4a0b', EndColorStr='#ad390c')";
}
.ui-btn-up-r a.ui-link-inherit { color: #fff; }
.ui-btn-hover-r {
    border: 1px solid #953403; background: #f15c22;
    font-weight: normal;
    color: #fff;  text-shadow: 0 -1px 1px #014D68;
    background-image: -moz-linear-gradient(top, #f15c22, #f15c22);
    text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f15c22),color-stop(1, #f15c22));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f15c22', EndColorStr='#f15c22')";
}
.ui-btn-hover-r a.ui-link-inherit { color: #fff; }
.ui-btn-down-r {
    border: 1px solid #225377; background: #79ae21;
    font-weight: normal;
    color: #fff; text-shadow: 0 -1px 1px #225377;
    background-image: -moz-linear-gradient(top, #bc770f, #e6590c);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #bc770f),color-stop(1, #e6590c));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bc770f', EndColorStr='#e6590c')"; }
.ui-btn-down-r a.ui-link-inherit { color: #fff; }
.ui-btn-up-r, .ui-btn-hover-r, .ui-btn-down-r { font-family: Helvetica, Arial, sans-serif; }



